from flask import Flask, render_template, request, redirect, url_for, session, flash
from werkzeug.security import check_password_hash
import sqlite3, json

app = Flask(__name__)
app.secret_key = 'clave_supersecreta'

notas_guardadas = []

def get_db_connection():
    conn = sqlite3.connect('database.db')
    conn.row_factory = sqlite3.Row
    return conn

def cargar_estudiantes():
    with open('estudiantes.json', 'r', encoding='utf-8') as f:
        return json.load(f)

@app.route('/')
def index():
    return render_template('login.html')

@app.route('/login', methods=['POST'])
def login():
    username = request.form['username']
    password = request.form['password']

    conn = get_db_connection()
    user = conn.execute('SELECT * FROM usuarios WHERE username = ?', (username,)).fetchone()
    conn.close()

    if user and check_password_hash(user['password'], password):
        session['username'] = user['username']
        session['rol'] = user['rol']
        session['user_id'] = user['id']

        if user['rol'] == 'profesor':
            return redirect(url_for('panel_profesor'))
        else:
            return redirect(url_for('panel_estudiante'))

    flash('Credenciales incorrectas ❌', 'error')
    return redirect(url_for('index'))

@app.route('/logout')
def logout():
    session.clear()
    return redirect(url_for('index'))

@app.route('/panel_profesor')
def panel_profesor():
    if 'username' not in session or session['rol'] != 'profesor':
        return redirect(url_for('index'))

    estudiantes = cargar_estudiantes()
    return render_template('panel_profesor.html', username=session['username'], estudiantes=estudiantes, notas=notas_guardadas)

@app.route('/agregar_nota', methods=['POST'])
def agregar_nota():
    id_estudiante = request.form['id_estudiante']
    asignatura = request.form['asignatura']
    nota = request.form['nota']

    estudiantes = cargar_estudiantes()
    estudiante = next((e for e in estudiantes if e['id'] == id_estudiante), None)

    nueva_nota = {
        'estudiante': estudiante['nombre'] if estudiante else id_estudiante,
        'asignatura': asignatura,
        'nota': nota
    }

    notas_guardadas.append(nueva_nota)
    return redirect(url_for('panel_profesor'))

@app.route('/panel_estudiante')
def panel_estudiante():
    if 'username' not in session or session['rol'] != 'estudiante':
        return redirect(url_for('index'))

    conn = get_db_connection()
    notas = conn.execute('SELECT * FROM notas WHERE estudiante_id = ?', (session['user_id'],)).fetchall()
    conn.close()

    return render_template('panel_estudiante.html', username=session['username'], notas=notas)

if __name__ == '__main__':
    app.run(debug=True)
